<h1>I &lt{{2+1}} Techno</h1>

<div class="" ng-controller="MainCtrl">
  <div class="">
    <div class="">
      <div ng-controller="PlayerCtrl as vm">


        <div class="fl w-50 mv3 bg-grey">
          <h3>Deck A</h3>
          <button id="playA"> **PLAY** </button>
          <button id="pauseA">**STOP**</button>
        </div>
        <div class="fl w-50 mv3 bg-grey">
          <h3>Deck B</h3>
          <button id="playB"> **PLAY** </button>
          <button id="pauseB">**STOP**</button>
        </div>
        
        <sc-search></sc-search>

    </div>
    </div>
  </div>
</div>
