<form ng-submit="login.login()" class="measure center">
  <h1>Login</h1>
  <div class="mt3">
    <label class="db fw6 lh-copy f6" for="email-address">Email</label>
    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="email" name="email"  id="email" ng-model="login.user.email" placeholder="Email">
  </div>
  <div class="mv3">
    <label class="db fw6 lh-copy f6" for="password">Password</label>
    <input class="pa2 input-reset ba bg-transparent hover-bg-black hover-white w-100" type="password" name="password"  id="password" ng-model="login.user.password" placeholder="Password">
  </div>
  <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib apply-btn" type="submit" value="Submit">
  <div class="mv3">
    <p>Don't have an account?</p><a ui-sref="register" class="f6 link dim black">Sign up</a>
  </div>
</form>
