
<div ng-controller="TracksSearchCtrl as vm" class="pa4">
  <h3>Search on SoundCloud</h3>
  <form ng-submit="vm.tracksSearch()" class="measure center pa2">
    <input type="text"
          name="track-name"
          class="pa2 fl w-100"
          ng-model="vm.trackFind"
          placeholder="Search by artist, genre or track title..">

    <input type="submit" class="pa2 fl w-100" value="Search" >
  </form>
  <div ng-repeat="track in vm.tracks" class="fl w-100">
    <div class="fl w-80 pa1">
      <div class="fl w-80 tr pa2">
        <p>{{track.title}}
        <span class="tr">{{(track.duration/60000).toFixed(2)}}</span>
        </p>
        <p>{{track.bpm}}</p>
        <!-- SECONDS TO MINUTES CONVERSION TO BE FIXED -->
      </div>
      <div class="fl w-20 fr">
        <button ng-click="startPlayerA(track)" class="pa3">A</button>
        <button ng-click="startPlayerB(track)" class="pa3">B</button>
      </div>
    </div>

  </div>
</div>
