
<div ng-controller="TracksSearchCtrl as vm" class="pa4">
  <h3>Search on SoundCloud</h3>
  <form ng-submit="vm.tracksSearch()" class="measure center pa2">
    <input type="text"
          name="track-name"
          class="pa2 fl w-100"
          ng-model="vm.trackFind"
          placeholder="Search by artist, genre or track title..">

    <input type="submit" class="pa2 fl w-100" value="Search" >
  </form>
  <div ng-repeat="track in vm.tracks" class="fl w-25 pa2">
    <p>{{track.title}}</p>
    <p>{{(track.duration/60000).toFixed(2)}}</p>
    <!-- SECONDS TO MINUTES CONVERSION TO BE FIXED -->
    <button ng-click="startPlayerA(track)">A</button>
    <button ng-click="startPlayerB(track)">B</button>
    <button ng-click="startBuffer(track)">YO</button>

  </div>
</div>
