<h1>Mixer... Youtube and Soundcloud...</h1>


<div id="console" class="tc pa2 pt5">
	<div id="deck1" class="fl w-40">
		<!-- <h1>Deck 1: {{ test.deck1 ? 'SoundCloud' : 'Youtube' }}</h1> -->
		<div ng-show="test.deck1 === 'Youtube';" class="yt-wrap-deck1">
			<div id="youtubePlayer1" class="yt-player"></div>
		</div>
		<audio controls="" id="soundcloudPlayer1" class="dn" src="" ng-show="test.deck1 === 'SoundCloud';"></audio>
		<div id="tt1" ng-show="test.deck1 === 'SoundCloud';"></div>
		<img src="/images/cover1.png" class="coverA">
		<div id="deckA-outer"></div>
		<div id="deckA-ctrls">
			<button id="playA" ng-click="test.playDeck1()">PLAY</button>
			<button id="pauseA" ng-click="test.pauseDeck1()">PAUSE</button>
			<button>Loop</button>
		</div>
	</div>
	
	<div id="controls" class="fl w-20">
		<div class="fl w-100 mv3 bg-grey">
			<div id="deckA-gain-slider">
				<input type="range" orient="vertical" min="0" max="10" step="1" id="deckA-gain-input">
			</div>
			<div id="deckB-gain-slider">
				<input type="range" orient="vertical" min="0" max="10" step="1" id="deckB-gain-input">
			</div>
			<div id="crossfade-range">
        		<h5>Crossfader {{ test.crossfade }}</h5>
        		<input ng-init="test.crossfade" ng-change="test.fade()" type="range" min="0" max="100" step="1" id="crossfade" ng-model="test.crossfade"/>
        	</div>
        </div>
	</div>
	
	<div id="deck2" class="fl w-40">
		<!-- <h1>Deck 1: {{ test.deck2 ? 'SoundCloud' : 'Youtube' }}</h1> -->
		<img src="/images/cover.png" class="coverB">
		<div ng-show="test.deck2 === 'Youtube';" class="yt-wrap-deck2">
			<div id="youtubePlayer2" class="yt-player"></div>
		</div>
		<audio controls="" id="soundcloudPlayer2" class="dn" src="" ng-show="test.deck2 === 'SoundCloud';"></audio>
		<div id="tt2" ng-show="test.deck1 === 'SoundCloud';"></div>
		<div id="deckB-outer"></div>
		<div id="deckB-ctrls">
			<button id="playB" ng-click="test.playDeck2()">PLAY</button>
			<button id="pauseB" ng-click="test.pauseDeck2()">PAUSE</button>
			<button>Loop</button>
		</div>
	</div>
	
</div>


<h2>SEARCH</h2>
<form ng-submit="test.search()">
  <input ng-model="test.query">
  <select ng-model="test.searchType" ng-options="type as type for type in test.searchTypes"></select>
  <input type="submit">
</form>

<ul class="list result pa0">
  <li ng-repeat="result in test.results track by $index" class="list white">
  	<div ng-if="result.title" class="search-results"><div class="fl w-80">{{result.title}}</div>
  	<div class="fr fl w-20">
  	<button ng-click="test.loadToDeck(1, result)" class="pa2 load-btn">A</button>
  	<button ng-click="test.loadToDeck(2, result)" class="pa2 load-btn">B</button>
  	</div>
  	</div>
  	<div ng-if="!result.title" class="search-results">{{result.snippet.title}}
  	<div class="fr">
  	<button ng-click="test.loadToDeck(1, result)" class="pa2 load-btn">A</button>
  	<button ng-click="test.loadToDeck(2, result)" class="pa2 load-btn">B</button>
  	</div>
  	</div>
  </li>
</ul>