


<!-- <div id="waveform" style="width: 500px, height: 30px;" class="bg-white"></div> -->

<div id="console" class="tc pa2 pt5">
		

	<div class="main-display display">
		<marquee direction="left" class="pa2 righteous f3" width="95%" height="30" ng-hide="test.playA === true || test.playB === true">  Mix the cloud </marquee>
		
		<div id="waveformA"></div>
	</div>
	

	<div id="deck1" class="fl w-40">
		<div class="display trackA-info">
			<marquee direction="left" class="" width="300" height="30" ng-if="test.titleA">{{test.titleA}}</marquee>
		</div>	
	<!-- <h1>Deck 1: {{ test.deck1 ? 'SoundCloud' : 'Youtube' }}</h1> -->
		<div class="tempo">
			<input id="tempoA-input" ng-init="test.tempoA" type="range" min="0.7" max="1.3" step="0.01" ng-change="test.setTempoA()" ng-model="test.tempoA">
		</div>	
		<div ng-show="test.deck1 === 'Youtube';" class="yt-wrap-deck1">
			<div id="youtubePlayer1" class="yt-player"></div>
		</div>
		<audio controls="" id="soundcloudPlayer1" class="dn" src="" ng-show="test.deck1 === 'SoundCloud';"></audio>
		<div id="tt1" ng-show="test.deck1 === 'SoundCloud';"></div>
		<img src="/images/cover1.png" class="coverA">
		<div id="deckA-outer"></div>
		<div id="deckA-ctrls">
			<button id="playA" ng-click="test.playDeck1()" class="display"><img id="playA-img" src="/../images/play-pause.png"></button>
		</div>

	</div>
	
	<div id="controls" class="fl w-20">

		<div class="fl w-100 mv3 bg-grey">
			<div id="decks-gain">
				<div id="deckA-gain-slider">
					<div class="display display-gainA tc ph2">
        				<strong class="b">{{ test.gainA }}</strong>
        			</div>
					<input ng-init="test.gainA" type="range" orient="vertical" min="0" max=	"100" step="1" id="deckA-gain-input" ng-change="test.setGainA()" 	ng-model="test.gainA">
				</div>


				
				

				<div id="deckB-gain-slider">
					<div class="display display-gainB tc ph2">
        				<strong class="b">{{ test.gainB }}</strong>
        			</div>
					<input ng-init="test.gainB" type="range" orient="vertical" min="0" max=	"100" step="1" id="deckB-gain-input" ng-change="test.setGainB()" 	ng-model="test.gainB">
				</div>
			</div>

			
			
			<div id="crossfade-range">
        		<input ng-init="test.crossfade" ng-change="test.fade()" type="range" min="0" max="100" step="1" id="crossfade" ng-model="test.crossfade"/>
        		<div class="">
        			<p class="gray ma0 tl">Crossfader</p>
        		</div>
        	</div>
        </div>

        <div class="search-group">
       		<form ng-submit="test.search()">
				<div class="pa2">
  					<input ng-model="test.query" class="display pa2 f4" placeholder="	Search..">
  				</div>
  				<div class="">
  					<select ng-model="test.searchType" ng-options="type as type for type 	in 		test.searchTypes" class="display">
  					</select>
  				<button type="submit" class="display" style="border-width: 1px;">Search</button>
  				</div>
			</form>
		</div>
	</div>
	
	<div id="deck2" class="fl w-40">
		
		<div class="display trackB-info">
			<marquee direction="left" class="" width="300" height="30" ng-if="test.titleB">{{test.titleB}}</marquee>
		</div>
		<div class="tempo">
			<input id="tempoB-input" ng-init="test.tempoB" type="range" min="0.7" max="1.3" step="0.01" ng-change="test.setTempoB()" ng-model="test.tempoB">
		</div>	
		<img src="/images/cover.png" class="coverB">
		<div ng-show="test.deck2 === 'Youtube';" class="yt-wrap-deck2">
			<div id="youtubePlayer2" class="yt-player"></div>
		</div>
		<audio controls="" id="soundcloudPlayer2" class="dn" src="" ng-show="test.deck2 === 'SoundCloud';"></audio>
		<div id="tt2" ng-show="test.deck2 === 'SoundCloud';"></div>
		<div id="deckB-outer"></div>
		<div id="deckB-ctrls">
			<button id="playB" ng-click="test.playDeck2()" onclick="" class="display"><img id="playB-img" src="/../images/play-pause.png"></button>
			
		</div>

	</div>
	
	
</div>





<div style="height: 400px; width: 600px; overflow: auto;" class="m-auto ba1-white">
	<ul class="">
	  <li ng-repeat="result in test.results track by $index" class="">
	  	<div ng-if="result.title" class="search-results relative">
	  		<div class="result-title fl w-70 relative">	
	  			<p class="pb2">{{result.title | limitTo: 90 }}{{result.snippet.title > 90 ? '...' : ''}}</p>
	  		</div>
	  		<div class="fl w-30">
	  			<button ng-click="test.loadToDeck(1, result)" class="display pa2" ng-model="test.currentA">A</button>
	  			<button ng-click="test.loadToDeck(2, result)" class="display pa2" ng-model="test.currentB">B</button>
	  		</div>
	  	</div>
	  	<div ng-if="!result.title" class="search-results relative">
	  		<div class="result-title fl w-70 relative">
	  			<p class="pb2">{{result.snippet.title | limitTo: 90 }}{{result.snippet.title > 90 ? '...' : ''}}</p>
	  		</div>
	  		<div class="fl w-30">
	  			<button ng-click="test.loadToDeck(1, result)" class="display pa2" ng-model="test.currentA">A</button>
	  			<button ng-click="test.loadToDeck(2, result)" class="display pa2" ng-model="test.currentB">B</button>
	  		</div>
	  	</div>
	  </li>
	</ul>
</div>
