/*

	*** GENERAL ***

*/


#console{
	height: 80vh;
	background-image: url('/images/3d-skin.jpg');
	background-size: cover;
	background-position: center;
	width: 90%;
	margin: 0 auto;
	border: 3px solid grey;
    border-radius: 10px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: 10px 10px 5px white;
    }


/*

	*** DECKS ***

*/
#deck1{
	position: absolute;
    top: 50px;
    left: 5px;
}
#deck2{
	position: absolute;
    top: 50px;
    right: 5px;
}

#deckA-ctrls{
	position: absolute;
    top: 600px;
    left: 203px;
    width: 200px;
    z-index: 1
}

#deckB-ctrls{
	position: absolute;
    top: 600px;
    right: 203px;
    width: 200px;
    z-index: 1;
}

#playA, #playB{
	padding: 0;
	width: 80px;
	height: 60px;
	&:hover{
	background-color: #c8f0fa;
	}
	#playA-img{
	background-image: url('/images/play-pause.png');
	background-size: cover;
	background-position: center;
	width: 80px;
	height: 60px;
	}
}

.trackA-info{
	position: absolute;
	top: 150px;
	right: 100px;
	}


.trackB-info{
	position: absolute;
	top: 150px;
	left: 100px;
} 

/*

	*** DECKS COVERS ***

*/

#tt1, #tt2{
	background-image: url('/images/neon-turntable.gif');
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 400px;
	position: absolute;
}

#tt1{
	
	left: 127px;
    top: 233px;
}

#tt2{
	right: 65px;
    top: 233px;
}

.coverA{
	position: absolute;
    top: 237px;
    left: 103px;
    z-index: 1;
}

.coverB{
	position: absolute;
    top: 242px;
    right: 110px;
    z-index: 1;
}

#deckA-outer{
	width: 310px;
    height: 310px;
    border: 10px solid white;
    border-radius: 180px;
    position: absolute;
    left: 143px;
    top: 272px;
}

#deckB-outer{
	width: 310px;
    height: 310px;
    border: 10px solid white;
    border-radius: 180px;
    position: absolute;
    right: 143px;
    top: 272px;
}

/*

	*** YOUTUBE PLAYERS ***

*/
 
#youtubePlayer1{
	position: absolute;
    left: 200px;
    top: 325px;
}

#youtubePlayer2{
	position: absolute;
    right: 200px;
    top: 325px;
}

.yt-wrap-deck1{
	position: absolute;
    left: -52px;
    top: -47px;
    -webkit-animation: spin 4s infinite linear;
}
.yt-wrap-deck2{
	position: absolute;
    right: -52px;
    top: -47px;
    -webkit-animation: spin 4s infinite linear;
}
.yt-player{
	border-radius: 90px;
}

/*

	*** MIXER CONSOLE ***

*/

#controls{
	position: absolute;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	height: 55vh;
    left: 40%;
    top: 180px;
    h5{
    color: white;
    }
}



// Firefox Overrides
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

#crossfade-range{
	position: absolute;
    bottom: -100px;
    left: 30px;
}

#crossfade{
	width: 230px;
}



/*

	*** SEARCH ***

*/

result{
	margin: 0 auto;
	margin-top: 15px;
}
.search-results{
	margin: 2px auto;
	color: $lightBlue;
	font-size: 15px;
	background: rgba(grey, 0.3);
	text-shadow: 0 0 0.3em $lightBlue;
	box-shadow: 0 0em 0.8em white;
	padding: 20px;
    
    height: 70px;
    border: 1px solid #f6f6f6;
}


