#console{
	height: 90vh;
	background-image: url('/images/3d-skin.jpg');
	background-size: cover;
	background-position: center;
	width: 90%;
	margin: 0 auto;
	border: 3px solid grey;
    border-radius: 10px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: 10px 10px 5px white;
    }
#deck1{
	position: absolute;
    top: 150px;
    left: 5px;
}
#deck2{
	position: absolute;
    top: 150px;
    right: 5px;
}
#waveform{
	width: 386px;
  	background: rgba(grey, 0.5);
    position: absolute;
    top: 89px;
    right: 83px;
    
    border-radius: 5px;
}
#tt1, #tt2{
	background-image: url('/images/neon-turntable.gif');
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 400px;
	position: absolute;
}
#tt1{
	
	left: 127px;
    top: 233px;
}
#tt2{
	right: 65px;
    top: 233px;
}
.coverA{
	position: absolute;
    top: 237px;
    left: 103px;
    z-index: 1;
}
.coverB{
	position: absolute;
    top: 242px;
    right: 110px;
    z-index: 1;
}
#deckA-outer{
	width: 310px;
    height: 310px;
    border: 10px solid white;
    border-radius: 180px;
    position: absolute;
    left: 143px;
    top: 272px;
}
#deckB-outer{
	width: 310px;
    height: 310px;
    border: 10px solid white;
    border-radius: 180px;
    position: absolute;
    right: 143px;
    top: 272px;
}
result{
	margin: 0 auto;
	margin-top: 15px;
}
#youtubePlayer1{
	position: absolute;
    left: 200px;
    top: 325px;
}

#youtubePlayer2{
	position: absolute;
    right: 200px;
    top: 325px;
}


#deckA-ctrls{
	
	position: absolute;
    top: 593px;
    left: 203px;
    width: 200px;
    z-index: 1
}

#deckB-ctrls{
	position: absolute;
    top: 593px;
    right: 203px;
    width: 200px;
    z-index: 1;
}
#playA, #playB{
	padding: 0;
	width: 80px;
	height: 60px;
	&:hover{
	background-color: #c8f0fa;
	}
	#playA-img{
	background-image: url('/images/play-pause.png');
	background-size: cover;
	background-position: center;
	width: 80px;
	height: 60px;
}
}

#controls{
	position: absolute;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	height: 55vh;
    left: 40%;
    top: 8%;
    h5{
    color: white;
    }
}

#deckA-gain-slider,  #deckB-gain-slider{

  // Slider
  #deckA-gain-input, #deckB-gain-input {
    -webkit-appearance: none;
    height: 200px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
   }

   position: absolute;

}

// Firefox Overrides
::-moz-range-track {
    background: #ccc;
    border: 0;
}

input::-moz-focus-inner { 
  border: 0; 
}

#deckA-gain-slider{
	top: 80px;
	left: -120px;
}

#deckB-gain-slider{
	top: 80px;
	right: -120px;
}

#crossfade-range{
	position: absolute;
    top: 500px;
    left: 11px;
}

#crossfade{
	width: 260px;
}
.display{
	background: rgba(grey, 0.3);
	color: $lightBlue;
	text-shadow: 0 0 0.3em $lightBlue;
	box-shadow: 0 0em 0.4em $lightBlue;
	text-align: right;
	position: relative;
	z-index: 2;
	strong{
	font-family: 'Codystar', cursive;
	font-size: 15px;
	}
}
.display-gainA{

	width: 35px;
	position: absolute;
	top: -30px;
    right: 47px;
}

.display-gainB{

	width: 35px;
	position: absolute;
	top: -30px;
    left: 47px;
}
.track-info-displayA{
	position: absolute;
	top: -355px;
	right: -45px;
}
.track-info-displayB{
	position: absolute;
	top: -355px;
	right: -55px;
}
.yt-wrap-deck1{
	position: absolute;
    left: -52px;
    top: -47px;
    -webkit-animation: spin 4s infinite linear;
}
.yt-wrap-deck2{
	position: absolute;
    right: -52px;
    top: -47px;
    -webkit-animation: spin 4s infinite linear;
}

.search-results{
	margin: 2px auto;
	color: $lightBlue;
	font-size: 15px;
	background: rgba(grey, 0.3);
	text-shadow: 0 0 0.3em $lightBlue;
	box-shadow: 0 0em 0.8em white;
	padding: 20px;
    
    height: 70px;
    border: 1px solid #f6f6f6;
}
.yt-player{
	border-radius: 90px;
}

.load-btn{
	
    top:50%;
    left:50%;
 }
