body{
	
	height: 400vh;
	background-color: black;
	background-size: cover;
	color: $lightBlue;
	
	main{
		text-align: center;
		ul{
		list-style-type: none;
		}
	}
}
.home-logo-animation{
	padding-top: 20%;
	width: 100%;
}

.home-img{
	max-height: 200px;
}
.navbar-logo{
  width: 300px;
}
.m-auto{
 	margin: 0 auto;
 }


button{
	&:hover{
		text-shadow: 0.2em 0.2em 0.2em 0.5em $lightBlue;
		}
	&:focus{
		outline: 0;
	}
}

.display{
	background: rgba(grey, 0.3);
	color: $lightBlue;
	text-shadow: 0 0 0.3em $lightBlue;
	box-shadow: 0 0em 0.4em $lightBlue;
	
	position: relative;
	z-index: 2;
	strong{
	font-family: 'Codystar', cursive;
	font-size: 20px;
	}
	&:focus{
		outline: 0;
	}
}
#waveformA{
	width: 100%;
	height: 60px;
	}

#waveformB{
	width: 350px;
	height: 40px;
	}
