body{
	
	height: 400vh;
	background-color: black;
	background-size: cover;
	color: $lightBlue;
	
	main{
		text-align: center;
	}
}

.navbar-logo{
  width: 200px;
}
.m-auto{
 	margin: 0 auto;
 }


button:hover{
	text-shadow: 0.2em 0.2em 0.2em 0.5em $lightBlue;
	box-shadow: 0.1em 0.1em 0.1em 0.1em $lightBlue;
}
